In [1]:
import pandas as pd

df = pd.read_csv('electricity_access_percent.csv')
df.head()

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 63

In [2]:
f = open('electricity_access_percent.csv')
for i in range(10):
    line = f.readline()
    print('line: ', i, line)
f.close()

line:  0 ï»¿"Data Source","World Development Indicators",

line:  1

line:  2 "Last Updated Date","2018-06-28",

line:  3

line:  4 "Country Name","Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017",

line:  5 "Aruba","ABW","Access to electricity (% of population)","EG.ELC.ACCS.ZS","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","88.4453506469727","88.7808456420898","89.1158294677734","89.44775390625","89.7735595703125","90.0901870727539","90.3945846557617","90.6836776733398","90.9544219970703","91.2037506103516","91.6603980031457","91.6380920410156","91.8337173461914","92.0230484008789","92.2121658325195","92.4071197509765","92.6139831542969","92.8388214111328","93.086166381836","93.3545455932617","93.3562921509542","93.9423751831055","94.2558135986328","94.5782623291016","94.9067230224609","95.2381820678711","95.5701446533203","",

line:  6 "Afghanistan","AFG","Access to electricity (% of population)","EG.ELC.ACCS.ZS","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","0.00999999977648258","0.00999999977648258","0.00999999977648258","0.00999999977648258","0.00999999977648258","0.00999999977648258","0.00999999977648258","0.00999999977648258","0.0219771377742291","0.179634585976601","0.959755897521973","0.77653694152832","6.26739358901977","11.7519664764404","17.2363185882568","23","28.2286128997803","33.7486801147461","42.4","44.8548851013184","42.7","43.2220189082037","69.1","67.2595520019531","89.5","71.5","84.1371383666992","",

line:  7 "Angola","AGO","Access to electricity (% of population)","EG.ELC.ACCS.ZS","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","11.3978080749512","12.5793790817261","13.7604398727417","14.9384412765503","16.1103248596191","17.2730312347412","18.4235019683838","19.5586757659912","20.6754951477051","21.7709007263184","22.843355178833","20","24.939094543457","25.9745082855225","27.0097007751465","28.0507354736328","29.1036758422852","37.5","31.2680130004883","32.3824691772461","33.514949798584","34.6","35.821964263916","36.9904899597168","32","42","40.5206069946289","",

line:  8 "Albania","ALB","Access to electricity (% of population)","EG.ELC.ACCS.ZS","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","",

line:  9 "Andorra","AND","Access to electricity (% of population)","EG.ELC.ACCS.ZS","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","100","",

In [6]:
df_rural = pd.read_csv('rural_population_percent.csv', skiprows=4)
df_electricity = pd.read_csv('electricity_access_percent.csv',skiprows=4)

df_rural.drop('Unnamed: 62', axis=1, inplace=True)
df_electricity.drop('Unnamed: 62', axis=1, inplace=True)

df = pd.concat([df_rural, df_electricity])
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,Rural population (% of total population),SP.RUR.TOTL.ZS,49.224,49.239,49.254,49.270,49.285,49.300,...,56.217000,56.579000,56.941000,57.302000,57.636000,57.942000,58.221000,58.472000,58.696000,58.893
1,Afghanistan,AFG,Rural population (% of total population),SP.RUR.TOTL.ZS,91.779,91.492,91.195,90.890,90.574,90.250,...,76.054000,75.687000,75.311000,74.926000,74.532000,74.129000,73.718000,73.297000,72.868000,72.430
2,Angola,AGO,Rural population (% of total population),SP.RUR.TOTL.ZS,89.565,89.202,88.796,88.376,87.942,87.496,...,61.491000,60.701000,59.903000,59.100000,58.301000,57.510000,56.726000,55.950000,55.181000,54.422
3,Albania,ALB,Rural population (% of total population),SP.RUR.TOTL.ZS,69.295,69.057,68.985,68.914,68.842,68.770,...,50.009000,48.924000,47.837000,46.753000,45.670000,44.617000,43.591000,42.593000,41.624000,40.684
4,Andorra,AND,Rural population (% of total population),SP.RUR.TOTL.ZS,41.550,39.017,36.538,34.128,31.795,29.555,...,11.133000,11.648000,12.183000,12.740000,13.292000,13.835000,14.367000,14.885000,15.388000,15.873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,97.794670,98.377060,0.000000,99.430435,99.773651,99.942505,99.993134,100.000000,100.000000,NaN
260,"Yemen, Rep.",YEM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,60.386539,61.751400,63.134281,64.532181,65.942101,75.600000,66.100000,70.213905,71.642349,NaN
261,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,81.900000,82.700000,82.900000,84.700000,85.300000,85.400000,86.000000,85.500000,84.200000,NaN
262,Zambia,ZMB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,22.714685,23.235649,22.000000,24.328644,24.894667,25.469702,27.900000,31.100000,27.219337,NaN
263,Zimbabwe,ZWE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,35.457310,43.369082,36.063057,36.900000,36.728878,37.076813,32.300000,33.700000,38.145138,NaN

In [8]:
# melt() to change formatting of dataframe

df_rural_melt = pd.melt(df_rural, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                                           var_name='Year', value_name='Electricity_Value')

df_electricity_melt = pd.melt(df_electricity, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'],
                                                     var_name='Year', value_name='Rural_Value')

df_rural_melt.drop(['Indicator Name', 'Indicator Code'], axis=1, inplace=True)
df_electricity_melt.drop(['Indicator Name', 'Indicator Code'], axis=1, inplace=True)

df_merge = df_rural_melt.merge(df_electricity_melt, how='outer',
                                  on=['Country Name', 'Country Code', 'Year'])

df_combined = df_merge.sort_values(['Country Name', 'Year'])
df_combined

      Country Name Country Code  Year  Electricity_Value  Rural_Value
1      Afghanistan          AFG  1960             91.779          NaN
265    Afghanistan          AFG  1961             91.492          NaN
529    Afghanistan          AFG  1962             91.195          NaN
793    Afghanistan          AFG  1963             90.890          NaN
1057   Afghanistan          AFG  1964             90.574          NaN
...            ...          ...   ...                ...          ...
14255     Zimbabwe          ZWE  2013             67.346    37.076813
14519     Zimbabwe          ZWE  2014             67.499    32.300000
14783     Zimbabwe          ZWE  2015             67.624    33.700000
15047     Zimbabwe          ZWE  2016             67.723    38.145138
15311     Zimbabwe          ZWE  2017             67.793          NaN

[15312 rows x 5 columns]